<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>history</title>
</head>
<body>
<h1> your account activity</h1>
<form  method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit">

</form>
<!--{% if mpin %}-->

<!--<h4>Accno</h4>    {{accno}}-->

<!--<h4>Mpin</h4>    {{mpin}}-->

<!--<h4>Balance</h4>    {{balance}}-->

<!--<h4>Amount transfered</h4> {{amount}}-->



<!--    <hr>-->

<!--{%endif%}-->
{%for trans in transaction%}

accno:{{trans.accno}}
amount:{{trans.amount}}
<hr>
{%endfor%}


</body>
</html>