<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

{%load static%}
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <a class="navbar-brand" href="#"><font size="40px"> <b>Horizon Bank</b></font></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><font size="5px">Home</font></a>
        </li>
            <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}"><font size="5px">Login</font></a>
        </li>
            <li class="nav-item">
            <a class="nav-link" href="{%url 'createaccount'%}"><font size="5px">Create New Account</font></a>
        </li>
          <div class="collapse" id="navbarToggleExternalContent">

</div>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<img src="{%static 'images/bank.jpg'%}" height="550px" width="1600px">
</div>


</div>
</body>
</html>